<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superhero Index</title>
</head>
<body>
<h1>Superheroes</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Alter Ego</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for superhero in all_superheroes %}
    <tr>
    <td>{{ superhero }}</td>
    <td>{{ superhero.alter_ego }}</td>
    <td><a href="{% url 'superheroes:detail' superhero.id %}">view</a></td>
    <td><a href="{% url 'superheroes:edit_superhero' %}">edit</a></td>
    <td><a href="">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url 'superheroes:create_superhero' %}">New</a>

</body>
</html>